.pagination .control-box{
    -fx-spacing: 10;
}
.pagination .toggle-button {
    -fx-background-radius:15px;
    -fx-padding: 0px;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0, 3, 3);


}
.pagination .toggle-button:hover {

    -fx-background-color: rgba(255, 153, 51, 1);
    -fx-text-fill: white;

}
.pagination .toggle-button:selected {

    -fx-background-color:black;
    -fx-text-fill: white;

}

.pagination .button{
    -fx-background-color: blanchedalmond;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0, 3, 3);

}
.pagination .label {
    -fx-text-fill:black ;
}
.pagination .toggle-button {
    -fx-background-color: rgba(7, 171,202,1);
    -fx-start-margin: 36px;
    -fx-end-margin: 36px;

}

.text-field {
    -fx-font-family: Verdana;
    -fx-font-size: 12px;
}
.text {
    -fx-font-family: Verdana;
    -fx-font-size: 12px;

}
.scroll-bar:vertical .track{
    -fx-background-color: white;
    -fx-border-color: rgba(255, 153, 51, 1);
    -fx-padding: 10px;
}
.scroll-bar:vertical .thumb{
    -fx-background-color: rgba(255, 153, 51, 1);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 1em;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0, 0, 3);

}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button{
    -fx-background-color:  rgba(255, 153, 51, 1);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0, 0, 3);

}





