.TopMenu {
    -fx-padding: 15px;
    -fx-spacing: 15px;
    -fx-start-margin: 40px;
    -fx-border-radius: 3px
}

.Buttons {
    -fx-background-color: #3B6C9E;
    -fx-font-family: Lora;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-effect: dropshadow(gaussian, black, 2, 0, 3, 3);
    -fx-border-insets: 3px;
    -fx-border-width: 2px;
    -fx-text-fill: white
}

.SearchField {
    /*-fx-background-color: #a9a9a9 , white , white;*/
    /*-fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*/
    -fx-border-color: #3B6C9E;
    -fx-border-radius: 5;
}

.SearchField:focused {
    -fx-background-color: #3B6CBE, white, white;

}